  
<form [formGroup]="form" (change)="submitform(form)">
  <label>Choose User</label> <br>
  <select [formControl]="selectUserId">
    <option *ngFor="let user of users"
      value="{{user.id}}">
      {{user.name}}
    </option>
  </select>
</form>

<div>
   
   {{userId.name}} 
  <br>
 {{userId.email}}
  <hr>


</div>

<form [formGroup]="form" (change)="submitpost(form)">
  <label>Choose Post</label> <br>
  <select [formControl]="selectUserId">
    <option *ngFor="let p of post"
      value="{{p.id}}">
      {{p.title}}
    </option>
  </select>
</form>

<div>


   {{chose[0].title}} 
  <br>
 {{chose[0].body}}
  <hr>


</div>